Options +FollowSymlinks
RewriteEngine on

#Admin
RewriteRule ^admin$ index.php?page=admin [L]

#Accueil
RewriteRule ^accueil$ index.php?page=accueil [L]

#Contact
RewriteRule ^contact$ index.php?page=contact [L]


#RewriteRule ^about$ index.php?page=about [L]

#Menus 
RewriteRule ^plats$ index.php?page=plats [L]
RewriteRule ^menus$ index.php?page=menus [L]
RewriteRule ^menu/([A-Z]+)$ index.php?page=menus&menu=$1 [L]

#Menus dashbord
RewriteRule ^menu/([A-Z]+)$ index.php?ajax=menus&menu=$1 [L]
